<head>
    <!-- Setting title and favicon -->
    <title>Timeline</title>
    <link rel="icon" type="image/png" href="/Images/Favicon.png">
    <!-- Including bootstrap and jquery from the online repository -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Including my own CSS -->
    <link rel="stylesheet" type="text/css" href="/Public/Timeline.css">
    <link rel="stylesheet" type="text/css" href="/Public/New.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%- include('./NavBar') %>
</head>

<body style="background-color: #e9ebee;">
    <div class="container dhn-info" style="font-size: 130%;">

        <div class="timeline dhn-text">
    
            <!-- Perpendicular line -->
            <div class="line text-muted"></div>

            <!-- E² slot -->
            <div class="separator text-muted">
                <p>Epitech Experience</p>
                <h4>Présentation du MVP</h4>
            </div>

            <!-- Parsing my slots and drawing them -->
            <% slots.forEach((slot) => { %>
            <article class="panel panel-info panel-outline">

                <!-- Setting background color & icon according to the status -->
                <% if(slot.status == "Finished") {%>
                    <div class="panel-heading icon" style="background: darkseagreen;">
                        <i class="glyphicon glyphicon-ok"></i>
                    </div>
                <% } else { %>
                    <div class="panel-heading icon" style="background: burlywood;">
                        <i class="glyphicon glyphicon-flag"></i>
                    </div>
                <% } %>
        
                <!-- Slot's description -->
                <div class="panel-body">

                    <!-- Reversing the date so that they are written the right way -->
                    <% var chunks = slot.startDate.split('-') %>
                    <span><%= chunks[2] + '-' + chunks[1] + '-' + chunks[0] %></span>
                    <% var chunks = slot.endDate.split('-') %>
                    <span><%= chunks[2] + '-' + chunks[1] + '-' + chunks[0] %></span>

                    <!-- Displaying the slot -->
                    <p><%= slot.title%></p>
                    <span><%= slot.description %></span>
                    <% if (slot.assignee) { %>
                        <span class="assignee"><%= slot.assignee %></span>
                    <% } %>
                </div>

                <!-- Adding admin slot buttons-->
                <% if(admin == true) {%>
                    <form class="dropdown-status" action="/admin/timeline/<%= slot.id %>/update" method="post" style="float: left;">
                        <button class="glyphicon glyphicon-flag" style="border-inline-end: black; background: inherit;">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="status-content">
                            <button class="status-button" type="submit" name="status" value="Open">Open</button>
                            <button class="status-button" type="submit" name="status" value="Doing">Doing</button>
                            <button class="status-button" type="submit" name="status" value="Important">Important</button>
                            <button class="status-button" type="submit" name="status" value="Finished">Finished</button>
                        </div>
                    </form>

                    <form class="delete-button" action="/admin/timeline/<%= slot.id %>/delete" method="post" style="float: left;">
                        <button type="submit" style="font-size: 75%;">&#128465</button>
                    </form>
                    <button class="edit-button" onclick="document.getElementById('id<%= slot.id %>').style.display='block'" style="font-size: 75%;">&#128395</button>
                <% } %>

                <div id="id<%= slot.id %>" class="modal">
                    <span onclick="document.getElementById('id<%= slot.id %>').style.display='none'"
                    class="close" title="Close Modal">&times;</span>
                    <form class="modal-content animate" action="/admin/timeline/<%= slot.id %>/edit" method="post">
                        <div class="add-container">
                            <%- include('./Form', {button: 'Modifier', id: slot.id, slot: slot}) %>
                        </div>
                    </form>
                </div>
            
            </article>
            <% }) %>

            <div class="separator text-muted">
                <p>Forward</p>
                <h4>Gestion des utilisateurs<br>
                    Création / Upload des ordonnances<br>
                    Interface globale<br>
                    Retours utilisateurs
                </h4>
            </div>
        </div>
    </div>

    <!-- Adding the New button if user is an admin -->
    <% if(admin == true) {%>
        <%- include('./New') %>
    <% } %>

</body>